Flow NodeRed/Garagem.json
[{"id":"7d8ce4e6bd5ba293","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"51e4265bbcca5d63","type":"group","z":"7d8ce4e6bd5ba293","name":"","style":{"stroke":"#3f93cf","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["5f9db3ce450de6ab","16ad08f8bbcb770c","a0c2d54dc7f77684","387234462ebd7042","abd109a1993dbdee","a65b01fd96f79daf","7dba0ca40b85185a","1b7ca6ab6a3bf55b","0b91e58cc68ab01c"],"x":74,"y":99,"w":1052,"h":262},{"id":"4f113692d34e31d2","type":"group","z":"7d8ce4e6bd5ba293","name":"","style":{"stroke":"#0070c0","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["508e397219888229","3e48ace8b8204adc","5dd36ed147422675","260c5e53f6bdd040","6a797ac9bf93ef02","c87b598509b74fe5","78227c859e8f3f8a","7dcaeac714d13f08","a198b128286ddb98"],"x":74,"y":419,"w":1032,"h":282},{"id":"5f9db3ce450de6ab","type":"trigger-state","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Mandar limpar","server":"","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"vacuum.dreame_d9","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"cleaning"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"docked"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":190,"y":240,"wires":[["16ad08f8bbcb770c","a65b01fd96f79daf","7dba0ca40b85185a"],[]]},{"id":"16ad08f8bbcb770c","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Luz Verde (ON)","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_da_garagem"],"data":"{\"effect\":\"Green\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":300,"wires":[["a0c2d54dc7f77684"]]},{"id":"a0c2d54dc7f77684","type":"delay","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"","pauseType":"delay","timeout":"35","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":260,"wires":[["387234462ebd7042","0b91e58cc68ab01c","1b7ca6ab6a3bf55b"]]},{"id":"387234462ebd7042","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Luz Verde (OFF)","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.luz_da_garagem"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":320,"wires":[[]]},{"id":"abd109a1993dbdee","type":"comment","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Mandar o aspirador limpar","info":"","x":210,"y":140,"wires":[]},{"id":"a65b01fd96f79daf","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Servo esquerdo ABRIR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_esquerdo","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"-50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":220,"wires":[["a0c2d54dc7f77684"]]},{"id":"7dba0ca40b85185a","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Servo direito ABRIR","server":"a6c054f6.bf6198","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_direito","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":180,"wires":[["a0c2d54dc7f77684"]]},{"id":"1b7ca6ab6a3bf55b","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Servo direito FECHAR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_direito","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"-20\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":160,"wires":[[]]},{"id":"0b91e58cc68ab01c","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"51e4265bbcca5d63","name":"Servo esquerdo FECHAR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_esquerdo","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"20\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":200,"wires":[[]]},{"id":"508e397219888229","type":"trigger-state","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Regresso da limpeza","server":"","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"vacuum.dreame_d9","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"returning"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":600,"wires":[["260c5e53f6bdd040","78227c859e8f3f8a","c87b598509b74fe5"],[]]},{"id":"3e48ace8b8204adc","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Luz Vermelha (OFF)","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.luz_da_garagem"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":660,"wires":[[]]},{"id":"5dd36ed147422675","type":"ha-wait-until","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Docked ?","server":"","version":1,"outputs":1,"entityId":"vacuum.dreame_d9","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":false,"x":700,"y":580,"wires":[["3e48ace8b8204adc","7dcaeac714d13f08","a198b128286ddb98"]]},{"id":"260c5e53f6bdd040","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Luz Vermelha (ON)","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_da_garagem"],"data":"{\"effect\":\"Red\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":660,"wires":[["5dd36ed147422675"]]},{"id":"6a797ac9bf93ef02","type":"comment","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Regresso do aspirador a base","info":"","x":220,"y":460,"wires":[]},{"id":"c87b598509b74fe5","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Servo direito ABRIR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_direito","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":520,"wires":[["5dd36ed147422675"]]},{"id":"78227c859e8f3f8a","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Servo esquerdo ABRIR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_esquerdo","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"-50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":560,"wires":[["5dd36ed147422675"]]},{"id":"7dcaeac714d13f08","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Servo esquerdo FECHAR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_esquerdo","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"20\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":560,"wires":[[]]},{"id":"a198b128286ddb98","type":"api-call-service","z":"7d8ce4e6bd5ba293","g":"4f113692d34e31d2","name":"Servo direito FECHAR","server":"","version":5,"debugenabled":false,"domain":"esphome","service":"garagem_control_servo_direito","areaId":[],"deviceId":[],"entityId":[],"data":"{\"level\":\"-20\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":520,"wires":[[]]},{"id":"a6c054f6.bf6198","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]